@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source '../../node_modules/@ogonek-education/ogonek-m3';
@import '@ogonek-education/ogonek-m3/styles';
@import '@ogonek-education/ogonek-m3/theme/light';
@import '@ogonek-education/ogonek-m3/theme/dark';

@theme {
	--font-sans: 'Google Sans Flex', 'Roboto Flex', system-ui, sans-serif;
	--font-serif: 'Lora', serif;
	--default-transition-duration: var(--md-sys-motion-duration-spatial);
	--default-transition-timing-function: var(--md-sys-motion-timing-function-emphasized-decel);
}

@layer base {
	button {
		cursor: pointer;
	}
}
